$white: rgb(65, 65, 65);
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ffffff;
$gray-500: #ffffff;
$gray-600: #ffffff;
$gray-700: #ffffff;
$gray-800: #ffffff;
$gray-900: #ffffff;
$black: rgb(255, 255, 255);

$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;