@import "../../node_modules/bootstrap/scss/bootstrap.scss";


*,
::after,
::before {
    box-sizing: border-box;
}

body {
    text-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 50%);
    min-height: 100% !important;
}

.h-100 {
    min-height: 100% !important;
}